/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e9ece3;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

.container {
    width: 60%;
    max-width: 1500px; /* Adjust as needed */
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 300px;
    padding-top: 70px;
}

h1 {
    text-align: center;
}

/* Header Styles */
header {
    line-height: 3.5;
    background-color: #ffffff;
    padding: 20px;
}

.logo {
    height: 55px;
    width: 180px;
    max-width: 100%;
    border-radius: 5px;
    margin-left: 25px;
    background-color: white;
}

.logo2 {
    height: 75px;
    width:250px;
    border-radius: 5px; 
}  

/* Navbar */
.navbar {
    background-color: #ffffff; /* Change this to your desired background color */
  }
  
  .navbar-brand img {
    max-width: 100%; /* Ensure the logo doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Offcanvas */
  .offcanvas-header {
    background-color: #ffffff; /* Change this to your desired background color */
  }
  
  .offcanvas-title {
    color: #000000; /* Change this to your desired text color */
  }
  
  .offcanvas-body {
    padding: 0; /* Reset padding to ensure proper alignment */
  }

  .nav-link {
    position: relative;
    text-decoration: none;
  }
  
  .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Adjust this value to change the thickness of the underline */
    top: 50px;
    left: 0;
    background-color: #43e4c6; /* Adjust this value to change the color of the underline */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
  }
  
  .nav-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

nav ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 105px; /* Adjust spacing */
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

/* Table Styles */
table {
    width: 100%;
    margin-bottom: 30px; /* Adjust spacing */
}

th, td {
    padding: 8px; /* Adjust padding */
    text-align: left;
    border-bottom: 2px solid #fff;  
}

th {
    background-color: #f2f2f2;
}

.total {
    text-align: right;
}

/* Button Styles */
.button {
    display: inline-block; /* Change to inline-block */
    width: 200px; /* Adjust width */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Shopping Cart Styles */
.shopping-cart {
    width: 80%; /* Adjust width */
    border-collapse: collapse;
    margin: 0 auto;
}

.shopping-cart th, .shopping-cart td {
    padding: 5px;
    border: 1px solid #000000;
    text-align: center;
}

.shopping-cart th {
    background-color: #ffffff;
}

/* Quantity Styles */
.quantity {
    display:flex;
    padding-left: 50px;
}

.quantity button {
    background-color: #f75c80;
    color: #fff;
    border: none;
    padding: 3px 20px;
    cursor: pointer;
}

.quantity input {
    width: 75px;
    text-align: center;
}

/* Footer Styles */
footer {
    background-color: #E5E6E6;
    color: #fff;
    padding: 20px 10%; /* Adjust padding */
    text-align: center;
    line-height: 3.5;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-info, .footer-links, .social-links {
    flex: 1 1 250px;
    margin-bottom: 30px;
}

.footer-info h3, .footer-links h3, .social-links h3 {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.footer-info p {
    color: #000000;
    line-height: 1.6;
    margin-top: 10px;
}

.footer-links ul, .social-links ul {
    padding: 0;
    margin: 0;
}

.footer-links li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer-links a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover, .social-links a:hover {
    color: #fff;
}

.social-links li {
    display: inline-block;
    margin-left: 25px;
}

.social-links a {
    color: #3b5998;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #e03380;
}

/* Miscellaneous Styles */
.strike {
    text-decoration: line-through;
}

.cross-symbol {
    text-align: auto;
}

.circle {
    border-radius: 50%;
    width: 10px;
    height: 20px;
    background-color: #eb1b4f;
    color: #fff;
    line-height: 20px;
    cursor: pointer;
}

.image-cell img {
    width: 100%;
    max-width: 100px;
}

/* Copyright Styles */
.copyright {
    color: #000000;
    text-align: center;
}


