body {
    font-family: Arial, sans-serif;
    line-height: 2.5;
    background-color: #E9F1FA;
    text-align: center;
    margin: 0;
    padding: 0;
  }

.container {
    width: 60%;
    max-width: 1500px; /* Adjust as needed */
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 300px;
    padding-top: 70px;
}

h1 {
    text-align: center;
}

header {
    background-color: #ffffff;
    padding: 5px;
}

.logo {
    height: 45px;
    width: 185px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.1);
  }
  
  .logo2 {
    height: 55px;
    width:250px;
    border-radius: 5px;
    margin-top:25px;
    margin-left:35px;  
  }

  nav ul {
    list-style-type: none;
    text-align: right;
  }
  
  nav ul li {
    display: inline;
    margin-right: 105px;
  }
  
  nav ul li a {
    color: #000;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #f4ad07;
  }

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px; /* Adjust spacing */
}

th, td {
    padding: 8px; /* Adjust padding */
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.total {
    text-align: right;
}

/* Button Styles */
.btn {
    display: inline-block; /* Change to inline-block */
    width: 200px; /* Adjust width */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Shopping Cart Styles */
.shopping-cart {
    width: 100%; /* Adjust width */
    border-collapse: collapse;
    margin: 0 auto;
}

.shopping-cart th, .shopping-cart td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}

.shopping-cart th {
    background-color: #ffffff;
}

/* Quantity Styles */
.quantity {
    display:flex;
    padding-left: 50px;
}

.quantity button {
    background-color: #f75c80;
    color: #fff;
    border: none;
    padding: 3px 20px;
    cursor: pointer;
}

.quantity input {
    width: 75px;
    text-align: center;
}

.image-cell img {
    width: 100%;
    max-width: 100px;
}

footer {
    background-image: url('foot.jpg');
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; /* Positions the background image */
    line-height: 2.5;
    color: #fff;
    padding: 10px;
    padding-left: 125px;
    padding-right: 125px;
  }
  
  .footer-content {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }
  
  .footer-info,
  .footer-links,
  .social-links {
    flex: 1 1 250px;
    margin-bottom: 30px;
  }
  
  .footer-info h3,
  .footer-links h3,
  .social-links h3 {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .footer-info p {
    color: #000000;
    line-height: 1.6;
    margin-top: 72px;
  }
  
  .footer-links ul {
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #fff;
  }
  
  .social-links ul {
    padding: 0;
    margin: 0;
  }
  
  .social-links li {
    display: inline-block;
    margin-left: 25px;
  }
  
  .social-links a {
    color: #3b5998;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #e03380;
  }
  
  .copyright {
    color: #000000;
    text-align: center;
  }
  