header {
    line-height: 3.5;
    background-color: #ffffff;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d4eeef;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 55px;
    width: 180px;
    max-width: 100%;
    border-radius: 5px;
    margin-left: 25px;
}


.logo2 {
    height: 55px;
    width:250px;
    max-width: 100%;
    border-radius: 5px; 
  }

nav ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 105px; /* Adjust spacing */
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

.nav-link:hover {
    color: #f4ad07;
}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    margin-top: 140px;
    margin-left: 500px;
    /* border: 2px solid black; */
}

.form-container h2 {
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    text-size-adjust: 10px;
    color: #ffffff;
}

.form-container form {
    flex: 1;
    background-color: #b9e6bb;
    border: 10px solid #c9ebe8;
    height: 400px; 
    width: 250px ;
    border-radius: 0px 0px 0px 0px;
}

.form-container button {
    background-color: #27d88b;
    color: #ffffff;
}

.form-container button[type="submit"] {
    margin-top: 7%; /* Adjust as needed */
    margin-left: 110px;
}


.cart-input {
    margin-bottom: 10px;
    margin-left: 20px;
}

.cart-input label {
    display: block;
    margin-bottom: 5px;
}

.cart-input input {
    width: 80%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.payment-container {
    border-radius: 15px;
    margin-right: 500px;
}


.payment-container button[type="submit"] {
    margin-top: 15px; /* Adjust as needed */
    margin-left: 80px;
}

.payment-container h2 {
    margin-bottom: 10px;
}

.payment-options {
    margin-top: 20px;
}

.payment-options h3 {
    margin-bottom: 10px;
    text-align: center;    
}

.payment-options button {
    margin-left: 20px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
}

.payment-options button:hover {
    background-color: #0056b3;
}

/* Footer Styles */
footer {
    background-color: #E5E6E6;
    color: #fff;
    padding: 20px 10%; /* Adjust padding */
    text-align: center;
    line-height: 2.5;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-info, .footer-links, .social-links {
    flex: 1 1 250px;
    margin-bottom: 30px;
}

.footer-info h3, .footer-links h3, .social-links h3 {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.footer-info p {
    color: #000000;
    line-height: 1.6;
    margin-top: 70px;
}

.footer-links ul, .social-links ul {
    padding: 0;
    margin: 0;
}

.footer-links li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer-links a, .social-links a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #063970;
}

.social-links li {
    display: inline-block;
    margin-left: 25px;
}

.social-links a {
    color: #3b5998;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #e03380;
}

/* Miscellaneous Styles */
.strike {
    text-decoration: line-through;
}

.cross-symbol {
    text-align: auto;
}

.circle {
    border-radius: 50%;
    width: 10px;
    height: 20px;
    background-color: #eb1b4f;
    color: #fff;
    line-height: 20px;
    cursor: pointer;
}

.image-cell img {
    width: 100%;
    max-width: 100px;
}

/* Copyright Styles */
.copyright {
    color: #000000;
    text-align: center;
}

