
header {
    background-color:     #ffffff;
    padding: 5px;
    line-height: 2.5;
 }
  
 nav ul {
    list-style-type: none;
    text-align: right;
}
  
  nav ul li {
    display: inline;
    margin-right: 105px;
}
  
  nav ul li a {
    color: #000;
    text-decoration: none;
}
  
  .nav-link:hover {
    color: #f4ad07;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E9F1FA;
    text-align: center;
    margin: 0;
    padding: 0;
  }

.logo {
  height: 50px;
  width: 180px;
  max-width: 100%;
  border-radius: 5px;
}   

.logo2 {
  height: 55px;
  width:200px;
  max-width: 100%;
  border-radius: 5px; 
}

h1 {
  color: #e42363;
  padding-bottom: 35px;
  padding-top: 25px;
}

p1 {
  text-align: justify;
}

.img {
    width: 20px; /* Adjust image width */
    height: auto;
    float: left; /* By default images float left */
  }

.listProduct .item img{
    width: 55%;
    filter: drop-shadow(0 0px 5px #0006);
}

.listProduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: -25px;
    margin-left: 190px;
    margin-right: 75px;
    margin-bottom: 200px;
    margin-top: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding-bottom: 20px;
    border-radius: 50px 0;
    margin: 10px;
    width: 70%;
}
.listProduct .item h2{
    font-weight: 400;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 0px;
    font-size: medium;
}
.listProduct .item button{
    background-color: #43BFC7;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 0px 10px;
    width:50%;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}

p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align:justify;
}

.defaultTextBox {
  padding: 10px;
  height: auto;
  width: 850px;
  position: relative;
  left: 125px;
  outline: none;
  border: 1px solid #f49344;
  border-radius: 30px; /* Rounded corners for a modern feel */
  background-color: #ffffff; /* Light gray background */
  font-size: 16px;
  transition: border-color 0.5s ease; /* Smooth transition for border color */
}


.imageturn {
  clear: none;
  margin-bottom: 400px;
  overflow: hidden; /* Clear float */
  justify-content: space-between;
}

.image-left .content {
  margin-left: center; /* Adjust spacing between image and text */
  align-items: left;
  justify-content: end;
}

.image-right .content {
  margin-right: center; /* Adjust spacing between image and text */
  align-items: right;
  justify-content: center;
}

.img1 {
  width: 385px; /* Adjust image width */
  height: auto;
  float: left; /* By default images float left */
  padding-left: 120px;
}

.img2 {
  width: 380px; /* Adjust image width */
  height: auto;
  float: right; /* By default images float left */
  top: -20px;
}

.content {
  overflow: hidden;
  text-align: start; /* Clear float */
}

footer {
    line-height: 2.5;
    background-color: #E5E6E6;
    color: #fff;
    padding: 10px;
    padding-left: 125px;
    padding-right: 125px;
  }
  
  .footer-content {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }
  
  .footer-info,
  .footer-links,
  .social-links {
    flex: 1 1 250px;
    margin-bottom: 30px;
  }
  
  .footer-info h3,
  .footer-links h3,
  .social-links h3 {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .footer-info p {
    color: #000000;
    line-height: 1.6;
    margin-top: 72px;
  }
  
  .footer-links ul {
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  
.footer-links a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #fff;
  }
  
  .social-links ul {
    padding: 0;
    margin: 0;
  }
  
  .social-links li {
    display: inline-block;
    margin-left: 25px;
  }
  
  .social-links a {
    color: #3b5998;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #e03380;
  }

  .copyright {
    color: #000000;
    text-align: center;
}
